<% provide(:title, "へんしゅう") %>

<h2>へんしゅう</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :なまえ %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :あどれす %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :ぱすわーど %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>↑さいてい<%= @minimum_password_length %>もじ</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :ぱすわーど（もっかい） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="field">
    <%= f.label :あいこん %><br />
    <%= f.file_field :image %>
  </div>
  <br><br>

  <div class="field">
    <%= f.label :いまのぱすわーど %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "こうしん！" %>
  </div>
<% end %>

<br><br>
<h3>あぷりをやめる</h3>

<p>あかうんとまで　すてるの…？ <%= button_to "すてる", user_registration_path,
  data: { confirm: "ほんとにいいの…？" }, method: :delete %></p>
<br><br>

<%= link_to "もどる", :back %>
