<% provide(:title, @user.username + "のぷろふぃーる") %>

<div class="container user_info">
  <div class="row">
    <section class="col-md-3">
      <%= image_tag @user.image, class: "img-thumbnail" %>
      <h3><%= @user.username %></h3>
      <div>げんざい　<%= pluralize(@user.microposts.count, "まい") %></div>
      <%= link_to "とうこうする", root_path, class: "btn btn-primary" %>
    </section>
  </div>

  <% if @user.microposts.any? %>
    <h2>ふく (<%= @user.microposts.count %>まい)</h2>
    <div class="row">  
      <ol class="microposts">
        <% @microposts.each do |micropost| %>
        <div class="col-xs-10 col-md-3">
          <%= render micropost %>
        </div>
        <% end %>
      </ol>
      <%= paginate @microposts %>
    </div>      
  <% end %>
</div>