<% provide(:title, current_user.username + "のぷろふぃーる") %>

<div class="container">
  
<div class="row">
  <aside class="col-md-4 col-xs-2">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <div class="col-md-4 col-xs-2">
    <% if @user.microposts.any? %>
      <h3>ふく (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
  
</div>