<% provide(:title, current_user.username + "のぷろふぃーる") %>

<div class="container">
  <div class="row">
    <section class="col-md-3 thumbnail">
      <%= image_tag current_user.image, class: "img-circle" %>
      <h2 class="text-center"><%= @user.username %></h2>
    </section>
  </div>
</div>

<div class="container">
  <% if @user.microposts.any? %>
    <h2>ふく (<%= @user.microposts.count %>まい)</h2>
    <div class="row">  
      <ol class="microposts">
        <% @microposts.each do |micropost| %>
        <div class="col-md-3 col-xs-6">
          <%= render micropost %>
        </div>
        <% end %>
      </ol>
      <%= will_paginate @microposts %>
    </div>      
  <% end %>
</div>