<% provide(:title, current_user.username + "のぷろふぃーる") %>

<div class="container-fluid">
  
<div class="row">
  <p class="col-md-3">
    <section class="user_info">
      <h2><%= gravatar_for @user %></h2>
      <h2><%= @user.username %></h2>
    </section>
  </p>
</div>


    <% if @user.microposts.any? %>
    <div class="row">
      <h2>ふく (<%= @user.microposts.count %>まい)</h2>
      <div class="col-md-4 col-xs-2">
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      </div>
    </div>
    <% end %>

</div>