<% provide(:title, @user.username + "のぷろふぃーる") %>

<div class="container">
  <div class="user_info">
    <%= image_tag @user.image, class: "img-thumbnail" %>
    <h3><%= @user.username %></h3>
    <% if current_user?(@user) %>
      <div><%= link_to "へんしゅう", edit_user_registration_path(current_user), class: "btn btn-primary" %></div>
      <div>げんざい　<%= pluralize(@user.microposts.count, "まい") %></div>
      <%= link_to "とうこうする", root_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @user.microposts.any? %>
  <div class="row"> 
    <h3>ふく (<%= @user.microposts.count %>まい)</h3>
      <ol class="microposts">
        <% @microposts.each do |micropost| %>
        <div class="col-xs-12 col-md-4">
          <%= render micropost %>
        </div>
        <% end %>
      </ol>
      <%= paginate @microposts %>
    </div>      
  <% end %>
</div>