<% provide(:title, @user.username + "のふぉろー/ふぉろわー") %>

<div class="container">
  <div class="user_info">
    <%= image_tag @user.image, class: "img-thumbnail" %>
    <h3><%= @user.username %></h3>
    <%= render 'follow_form' if user_signed_in? %>
    <div class="stats"><%= render 'layouts/stats' %></div>
    <% if current_user?(@user) %>
      <div><%= link_to "へんしゅう", edit_user_registration_path(current_user),
        class: "btn btn-primary" %></div>
      <%= link_to "とうこうする", root_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @users.any? %>
  <div class="row">
    <ol class="users">
      <% @users.each do |user| %>
        <div class="col-xs-12 col-md-3">
          <%= render user %>
        </div>
      <% end %>
    </ol>
  </div>
  <% end %>
  
</div>