<li id="micropost-<%= micropost.id %>" data-micropost-id="<%= micropost.id %>">
  <div class="micropost">
    
  <div class="content-left thumbnail text-center">
    <div><%= image_tag micropost.picture.to_s, class: "img-thumbnail" %></div>
    <%= render "likes/like", micropost: micropost %>
    <div><%= micropost.item_name %></div>
    <% if not micropost.brand_name? %>
      ？
    <% else %>
      <%= micropost.brand_name %>
    <% end %>
  </div>
  
  <div>
    <% if current_user?(micropost.user) %>
      <%= link_to "さくじょ", micropost, method: :delete,
        class: "btn btn-primary", data: { confirm: "ほんとうにいいの？" } %>
    <% end %>
      <div><%= micropost.created_at.to_s(:datetime_base) %></div>
  </div>
  
  </div>
</li>