<li>
  <div class="micropost">
  <div class="content-left thumbnail text-center">
    <div><%= image_tag micropost.picture.to_s, class: "img-thumbnail" %></div>
    <div><%= micropost.item_name %></div>
    <% if not micropost.brand_name? %>
      (？)
    <% else %>
      <%= micropost.brand_name %>
    <% end %>
  </div>
  </div>
  
  <div>
    <% if current_user?(micropost.user) %>
        <%= link_to "すてる", micropost, method: :delete, class: "btn btn-primary",
          data: { confirm: "ほんとに？", cancel: "うそ",
            commit: "ほんと", title: "かくにん" } %>
          <!-- ↑未表示 -->
    <% end %>
    <div>
      <p class="micropost.time"><%= micropost.created_at.to_s(:datetime_base) %></p>
    </div>
  </div>
</li>