<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "hukumiru", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "みんな", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              あかうんと <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "ぷろふぃーる", current_user %></li>
              <li><%= link_to "へんしゅう", edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ろぐあうと", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "とうろく", new_user_registration_path %></li>
          <li><%= link_to "ろぐいん", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>