<header id="header" class ="navbar navbar-fixed-top navbar-inverse">
  <div class= "container">
    <%= link_to "hukumiru!", "#", id: "logo" %>
    <nav>
      <ul class= "nav navbar-nav navbar-right wf-Kokoro">
        <% if user_signed_in? %>
          <li>
            <%= link_to "みんな", users_path, class:"nav-link" %>
          </li>
          <li>
            <%= link_to "ぷろふぃーる", current_user, class:"nav-link" %>
          </li>
          <li>
            <%= link_to "へんしゅう", edit_user_registration_path(current_user), class:"nav-link" %>
          </li>
          <li>
            <%= link_to "ろぐあうと", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>
        <% else %>
          <li>
            <%= link_to "とうろく", new_user_registration_path, class:"nav-link" %>
          </li>
          <li>
            <%= link_to "ろぐいん", new_user_session_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
