


<header>
  <nav class="navbar navbar-fixed-top navbar-default navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand">
      <%= link_to "hukumiru", root_path, id:"logo" %>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item nav-link">
          <%= link_to "みんな", users_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "ぷろふぃーる", current_user %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "へんしゅう", edit_user_registration_path(current_user) %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "ろぐあうと", destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li class="nav-item nav-link">
          <%= link_to "とうろく", new_user_registration_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "ろぐいん", new_user_session_path %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header