<header class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "hukumiru", root_path, id: "logo" %>
    </div>
    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
        <% if user_signed_in? %>
          <li><%= link_to "とうこう", root_path %></li>
          <li><%= link_to "ぷろふぃーる", current_user %></li>
          <li><%= link_to "へんしゅう", edit_user_registration_path(current_user) %></li>
          <li><%= link_to "ゆーざーたち", users_path %></li>
          <li><%= link_to "ろぐあうと", destroy_user_session_path, method: :delete, data: { confirm: "ほんとに？" } %></li>
        <% else %>
          <li><%= link_to "とうろく", new_user_registration_path %></li>
          <li><%= link_to "ろぐいん", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
